body {
    width:800px;
    margin:20px auto;
    text-align: center;
}

h1 {
    font-family:'megrim', serif;
    font-size:38px;
}
ul#tabs {
    list-style-type: none;
    margin-top:40px;

}

ul#tabs li {
    display:inline-block;
    margin-right:30px;
    margin-left:30px;
    text-align: center;
}

ul#tabs li a {
    text-decoration: none;
    color:#666;
    font-family:'oxygen', helvetica, arial, sans-serif;
    font-weight:300;
    font-size:16px;
    text-transform: uppercase;
    background-color: #eee; 
    border: 1px solid #c9c3ba; 
    border-bottom: none; 
    padding: 1em; 
    border-radius:3px;
}

div.tabContent {
    border: 1px solid #c9c3ba; 
    padding: 0.5em; 
    background-color: #eee; 
}
div.tabContent.hide { display: none; }

.activetab {
    
}