
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family:'Lato', 'Droid Sans', helvetica, arial, sans-serif;
    font-weight:300;
    font-size:30px;
    color:#5b5b5b;
}

header {
    width:380px;
    margin:40px auto 0;
    text-align: center;
}

a {
    text-decoration:none;
    color:#631299;
    font-weight: 400;
}
footer {
    width:380px;
    margin:0 auto;
    text-align: center;
    font-size:18px;
    line-height: 30px;
    letter-spacing: .5px;
}

.container {
    width:380px;
    margin:20px auto;
    padding:20px 10px;
    background-color:#46eac1;
    border-radius:4px;
}

#screen {
    width:340px;
    margin:0 auto;
    text-align: right;
    padding:20px 25px;
    border:2px solid #ccfcef;
    border-radius:5px;
    height:80px;
}

#clear_container {
    width:280px;
    text-align: right;
    padding:20px 25px;
}

#clear {
    width:85px;
    text-align:center;
    padding:20px;
    margin-left:245px;
    
   
}

#clear:hover {
    background-color:#606060;
    color:#fff;
    border-radius:4px;
    border:none;
    cursor:pointer;
}


#num_pad div {
    width: 85px;
    display:inline-block;
    text-align: center;
    padding:20px;
    border-radius:3px;
  
}

.op {
    color:#fff;
}

.num:hover {
    background-color:#fff;
    color:#46eac1;
    cursor: pointer;
}

.op:hover, #point:hover, #equal:hover {
    color:#606060;
    background-color:#fff;
    cursor:pointer;
}